#gover-container {
  padding-top: 100px;
  background-size: cover !important;
  height: 100vh;
}

.gover-bg-bad {
  background-image: url("../images/gover-bg-bad.jpg") !important;
}

.gover-bg-avg {
  background-image: url("../images/gover-bg-avg.jpg") !important;
}

.gover-bg-gud {
  background-image: url("../images/gover-bg-gud.jpg") !important;
}

#gover-header {
  font-size: 40px;
}

#gover-score {
  font-size: 80px;
  color: #b03060;
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
}

#gover-message {
  font-size: 18px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.75);
}

#gover-buttons {
  margin: 20px;
  font-weight: bold;
}
