#videocards {
  height: 93vh;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background-image: url("../images/background-1.jpg") !important;
  background-size: cover !important;
}

#game-vs {
  font-size: 32px !important;
  border: 1px solid black;
  background-color: white;
  padding: 25px;
  border-radius: 50%;
  transition-property: all;
  transition-duration: 1s;
}

#game-bottom-segment {
  height: 7vh;
  margin-top: 0;
  border-radius: 0;
  text-align: center;
}

#game-bottom-left-text {
  font-weight: bold;
  font-size: 20px;
  float: left;
}

#game-bottom-center-text-correct {
  font-weight: bold;
  font-size: 30px;
  color: green;
}

#game-bottom-center-text-wrong {
  font-weight: bold;
  font-size: 30px;
  color: red;
}

#game-bottom-right-text {
  font-weight: bold;
  font-size: 20px;
  float: right;
}
