#home-container {
  height: 100vh;
  padding-top: 50px;
}

#home-header {
  margin-bottom: 15px;
  font-family: "Zen Tokyo Zoo", cursive;
}

#home-button-mail {
  margin-top: 60px;
}

#home-button-website {
  margin-top: 60px;
}

#home-github {
  margin-top: 10px;
}
