#home-container {
  height: 100vh;
  padding-top: 7em;
  padding-bottom: 7em;
}

#home-header {
  margin-bottom: 2em;
  font-family: "Zen Tokyo Zoo", cursive;
}

#home-button-mail {
  margin-top: 4em;
  margin-bottom: 0.5em;
}

#home-button-website {
  margin-top: 2em;
}

#home-github {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
