#vidcard-segment {
  background-color: rgba(255, 255, 255, 0.5);
}

#vidcard-viewcount {
  margin-top: 0px;
}

#vidcard-text {
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  font-size: 1.25em;
  margin-top: 10px;
}

#vidcard-value {
  color: #b03060;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

#vidcard-title {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
}

#vidcard-channel {
  margin-top: 0px;
  font-family: Lato;
}

#vidcard-buttons {
  margin-right: 100px;
  margin-left: 100px;
}

#vidcard-button-positive {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  border-radius: 10%;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#vidcard-button-negative {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;

  border-radius: 10%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#vidcard-button-positive:hover {
  background-color: #b03060 !important;
  color: white !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
}

#vidcard-button-negative:hover {
  background-color: #b03060 !important;
  color: white !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
}
